@charset "utf-8";
@import "zic-css/zic_mixin";

$zicImgPath: '/Content/zic-css/';
$gridColumns: 15;

$navbarBackground:                #333;
$navbarBackgroundHighlight:       #444;
$navbarLinkColor:                 #AAA;
$navbarLinkColorHover:            #fff;