@charset "utf-8";
@import "zic-css/zic_mixin";

$zicImgPath: '/css/zic-css/';

$navbarBackground:                $c-act-blue;
$navbarBackgroundHighlight:       $c-act-blue-light;
$navbarLinkColor:                 $c-act-white;
$navbarLinkColorHover:            $c-act-white-light;