@charset "utf-8";
@import "cus_mixin";
@import "zic-css/com";

@import "zic-css/bootstrap/reset";
@import "zic-css/bootstrap/scaffolding";
@import "zic-css/bootstrap/grid";
@import "zic-css/bootstrap/layouts";
@import "zic-css/bootstrap/type";
@import "zic-css/bootstrap/forms";
@import "zic-css/bootstrap/tables";
@import "zic-css/bootstrap/dropdowns";
@import "zic-css/bootstrap/sprites";
@import "zic-css/bootstrap/buttons";
@import "zic-css/bootstrap/button-groups";
@import "zic-css/bootstrap/alerts";
@import "zic-css/bootstrap/navs";
@import "zic-css/bootstrap/navbar";
@import "zic-css/bootstrap/breadcrumbs";
@import "zic-css/bootstrap/pagination";
@import "zic-css/bootstrap/pager";
@import "zic-css/bootstrap/modals";
@import "zic-css/bootstrap/tooltip";
@import "zic-css/bootstrap/popovers";
@import "zic-css/bootstrap/thumbnails";
@import "zic-css/bootstrap/labels";
@import "zic-css/bootstrap/badges";
@import "zic-css/bootstrap/utilities";
//@import "zic-css/bootstrap/responsive";

@import "zic-css/mod_addones/formerror";
@import "zic-css/mod_addones/notifi";
@import "zic-css/mod_addones/text";
@import "zic-css/mod_addones/overlabel";
@import "zic-css/mod_resource/ms";

.navbar{z-index:1031;
	span.brand{height:40px;overflow:hidden;margin:0 100px 0 0;padding:0;
		a.brand-dark{background:transparent url(/Content/images/logoDark_48.png) no-repeat scroll right center;
			display:block;height:48px;width:235px;@include hide-text();padding:4px 0;
			&.hover{background-image:url(/Content/images/logoDark_act_48.png);}
		}
	}
	.navbar-search{float:right;margin-left:20px;}
	a{color:$navbarLinkColor;}
	a:hover{color:$navbarLinkColorHover;}
	a>i{margin-right:2px;vertical-align: -2px;}
}
.logohack{@include grid-core-span($gridColumns);
	a.brand-light{background:transparent url(/Content/images/logo_48.png) no-repeat scroll right center;
		@include in_bk;height:48px;width:235px;@include hide-text();padding:4px 0;
		&.hover{background-image:url(/Content/images/logo_act_48.png);}
	}
}
#main{margin-top:60px;min-height:400px;
	.container{@include grid-core-span($gridColumns);}
}
#footer{border-top:1px solid #ddd;height:32px;line-height:32px;color:#666;margin-top:30px;
	.container{@include grid-core-span($gridColumns);}
}
#ajaxload_box{position:absolute;top:0;left:0;text-align:center;padding-left:200px;}

h1, h2, h3, h4, h5, h6{color:lighten($textColor, 30);font-weight: normal;}
span.input-ico{margin-bottom: 9px;margin-right:-5px!important;
	i{vertical-align:baseline;}
}

/*#region ABtn */
a.abtn-more{background:#fff url(images/tips/botharrow.gif) no-repeat scroll right -20px;
	padding:1px 13px 1px 3px;cursor:pointer;border:1px solid #ddd;border-left-width:3px;
    &:hover { border-color:#88a825;} 
}
a.abtn-newin{background:url(images/tips/new_window.gif) no-repeat scroll right center;padding-right:12px;color:#88A825;
    &:hover { color:#A89E2D;text-decoration:underline;} 
}
a.abtn-question{background:url(images/tips/Question4.png) no-repeat scroll right center;padding-right:15px;height:12px;line-height:12px;cursor:pointer;}
a.imga{padding:3px;border:1px solid #DDDDDD;cursor:pointer;background-color:#F2F3F8;}
/*#endregion ABtn */

/*#region Form */
table.form{font-size:14px;width:100%;
	tr.bot td,tr.bot th{border-bottom:1px dashed #ddd;}
	td{padding:10px 0 10px 10px;}
	th{text-align:right;font-weight:normal;font-size:16px;}
	th.muline{vertical-align:top;padding-top:10px;}
	.select{height:24px;line-height:24px;}
}
form.form{font-size:14px;width:800px;
	p{padding:10px 0;
		label{@include in_bk;width:100px;text-align:right;padding-right:10px;color:#666;}
	}
}
/*#endregion Form */

/*#region Color */ 
.c_gray{color:$c-error-black;}
.c_green{color:$c-error-green-b;}
.c_red{color:$c-error-red-b;}
/*#endregion Color */