@charset "utf-8";
@import "cus_mixin";
@import "zic-css/com";

@import "zic-css/bootstrap/reset.scss";
@import "zic-css/bootstrap/scaffolding";
@import "zic-css/bootstrap/buttons";
@import "zic-css/bootstrap/button-groups";
@import "zic-css/bootstrap/layouts";
@import "zic-css/bootstrap/navs";
@import "zic-css/bootstrap/navbar";
@import "zic-css/bootstrap/dropdowns";
@import "zic-css/mod_addones/formerror";
@import "zic-css/mod_addones/notifi";
@import "zic-css/mod_addones/text";
@import "zic-css/mod_addones/overlabel";

body { color: $c-txt; line-height: 18px; @include font-family-sans-serif;text-align:left;}
#notifi-box{margin-bottom:10px;}
.navbar .container { width:auto; padding:0 20px;}
#head{height: 62px;padding: 2px 0 1px;line-height:59px;color:#383838;
	text-align:left;background:url(images/top-bg.png) repeat-x scroll 0 0;position:relative;
    #logo{width:300px;font-size:22px;padding-left:20px;}
    #chief{position:absolute;top:0;right:0;padding:0 10px;line-height:45px;font-size:14px;}
}
#foot{border-top:1px solid #ddd;height:32px;line-height:32px;color:#666;}
#main{min-height:500px; _height:500px; overflow:visible;text-align:left;padding:50px 20px 10px;position:relative;}
#ajaxload_box{position:absolute;top:0;left:0;text-align:center;padding-left:200px;}

/*#region ABtn */
a.abtn-more{background:#fff url(images/tips/botharrow.gif) no-repeat scroll right -20px;
	padding:1px 13px 1px 3px;cursor:pointer;border:1px solid #ddd;border-left-width:3px;
    &:hover { border-color:#88a825;} 
}
a.abtn-newin{background:url(images/tips/new_window.gif) no-repeat scroll right center;padding-right:12px;color:#88A825;
    &:hover { color:#A89E2D;text-decoration:underline;} 
}
a.abtn-question{background:url(images/tips/Question4.png) no-repeat scroll right center;padding-right:15px;height:12px;line-height:12px;cursor:pointer;}
a.imga{padding:3px;border:1px solid #DDDDDD;cursor:pointer;background-color:#F2F3F8;}
/*#endregion ABtn */

/*#region Form */
table.form{font-size:14px;width:100%;
	tr.bot td,tr.bot th{border-bottom:1px dashed #ddd;}
	td{padding:10px 0 10px 10px;}
	th{text-align:right;font-weight:normal;font-size:16px;}
	th.muline{vertical-align:top;padding-top:10px;}
	.select{height:24px;line-height:24px;}
}
form.form{font-size:14px;width:800px;
	p{padding:10px 0;
		label{@include in_bk;width:100px;text-align:right;padding-right:10px;color:#666;}
	}
}
/*#endregion Form */