@using zkdao.Web.Extensions

@{
    ViewBag.Title = "Home - Byteart Retail";
}

<h2>Welcome to Byteart Retail Web Store!</h2>
<p>
Here you can view the details of most popular laptops simply by clicking the name of the laptop. For registered users,
you can click the "Add to Cart" button to add the favorite products into your shopping cart, check out your purchase order,
or review your purchase histories after successful login.
</p>

