<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Server=localhost; Database=ByteartRetail; Integrated Security=True; MultipleActiveResultSets=True;" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!--Repository Context & Repositories-->
      <register type="ByteartRetail.Domain.Repositories.IRepositoryContext, ByteartRetail.Domain"
            mapTo="ByteartRetail.Domain.Repositories.EntityFrameworkRepositoryContext, ByteartRetail.Domain.Repositories">
      </register>
      <register type="ByteartRetail.Domain.Repositories.IRepository`1[[ByteartRetail.Domain.Model.Customer, ByteartRetail.Domain]], ByteartRetail.Domain"
                mapTo="ByteartRetail.Domain.Repositories.EntityFrameworkRepository`1[[ByteartRetail.Domain.Model.Customer, ByteartRetail.Domain]], ByteartRetail.Domain.Repositories"/>
      <register type="ByteartRetail.Domain.Repositories.IRepository`1[[ByteartRetail.Domain.Model.SalesOrder, ByteartRetail.Domain]], ByteartRetail.Domain"
                mapTo="ByteartRetail.Domain.Repositories.EntityFrameworkRepository`1[[ByteartRetail.Domain.Model.SalesOrder, ByteartRetail.Domain]], ByteartRetail.Domain.Repositories"/>
      <register type="ByteartRetail.Domain.Repositories.IRepository`1[[ByteartRetail.Domain.Model.Laptop, ByteartRetail.Domain]], ByteartRetail.Domain"
                mapTo="ByteartRetail.Domain.Repositories.EntityFrameworkRepository`1[[ByteartRetail.Domain.Model.Laptop, ByteartRetail.Domain]], ByteartRetail.Domain.Repositories"/>
      <register type="ByteartRetail.Domain.Repositories.IRepository`1[[ByteartRetail.Domain.Model.ShoppingCart, ByteartRetail.Domain]], ByteartRetail.Domain"
                mapTo="ByteartRetail.Domain.Repositories.EntityFrameworkRepository`1[[ByteartRetail.Domain.Model.ShoppingCart, ByteartRetail.Domain]], ByteartRetail.Domain.Repositories"/>
    </container>
  </unity>
</configuration>
