<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!--<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />-->
  </configSections>
  <appSettings>
    <add key="EFdatabase" value="zkdao"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Server=.\SQLEXPRESS; Database=zkdao; Integrated Security=True; MultipleActiveResultSets=True;" />
        <!--<parameter value="Server=886c501e-e22c-48f4-b5b6-a05e00525e06.sqlserver.sequelizer.com;Database=db886c501ee22c48f4b5b6a05e00525e06;User ID=qqpbayzespscgrcu;Password=jwWuYwCe8anyfayFJgaYaXGNvVUiGrhoyT8Lo3FrjFd8TEfQkkChPpWtWh8dJuEQ;MultipleActiveResultSets=True;" />-->
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>