<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <add key="EFdatabase" value="zkdao"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Server=.\SQLEXPRESS; Database=zkdao; Integrated Security=True; MultipleActiveResultSets=True;" />
        <!--<parameter value="Server=91f77354-5b2f-4a6e-a611-a05b00e9b8b5.sqlserver.sequelizer.com;Database=db91f773545b2f4a6ea611a05b00e9b8b5;User ID=ejzpdrpwnazsgwrm;Password=xQJEqfEzZYdzYzGcnEa8KqQkkxX5M64y45tJc7PfYDTsMmdeA3ES3Q2g8xt2pHU4;MultipleActiveResultSets=true" />-->
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>